.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    background-color: #1e1e1e;
    color: #e6e6e6;
    border-radius: 0.3rem;
    -webkit-box-shadow: -8px 7px 17px -9px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -8px 7px 17px -9px rgba(0, 0, 0, 0.4);
    box-shadow: -8px 7px 17px -9px rgba(0, 0, 0, 0.4);
}

.button:hover {
    color: #1e1e1e;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 2rem;
    border-radius: 0.3rem;
    background-color: #1e1e1e1e;
    gap: 0.5rem;
}

.title {
    font-family: jujutsu;
    font-size: 35px;
    color: #e6e6e6;
}

.content {
    color: #e6e6e6;
}

.img {
    width: 40%;
    margin: 0.5rem;
}

@font-face {
    font-family: jujutsu;
    src: url('../../../public/jujutsu.ttf');
}