.geral {
    width: 15vw;
    height: 20vw;
}

.up {
    background-color: #1e1e1e;
    border-radius: 0.3rem;
    
}

.bg {

}

.bgImg {

}

.img {

}

.infos {

}

.titleDesc {

}

.description {

}

.properties {

}

.atkDef {

}

@font-face {
    font-family: jujutsu;
    src: url('/public/jujutsu.ttf');
}