.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.battlefield {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.imgBattle {
    width: 98.9vw;
    height: 200vh;
    filter: invert(70%);
    position: relative;
    background-repeat: no-repeat
}

.purpleBg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    filter: blur(150px);
    position: absolute;
}

.purple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    filter: blur(5px);
    position: absolute;
    bottom: 23rem;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.deck1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4rem;
}

.deck2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: -2rem;
}

.battleCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 70vh;
    margin: 2rem;
    position: relative;
    bottom: -3rem;
}

.battleBtn {
    border: none;
    background-color: #1e1e1e;
    border: 1px solid #e6e6e6;
    padding: 0.3rem;
    width: 10vw;
    color: #e6e6e6;
    font-family: jujutsu;
    font-size: 20px;
}

.card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 45vh;
}

.card2  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 45vh;
}

.heart {
    width: 2vw;
}

.heart1, .heart2 {
    position: relative;
    bottom: 2rem;
    right: 0.5rem;
}

.popUp {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}