.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}

.battlefield {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.imgBattle {
    width: 100%;
    height: 100%;
    filter: invert(85%);
    position: relative;
}

.purpleBg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    filter: blur(150px);
    position: absolute;
}

.purple {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    filter: blur(5px);
    position: absolute;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -115vh;
}

.foot {
    height: auto;
}

.deck1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0rem;
}

.deck2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0rem;
}

.battleCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2rem;
    margin: 2rem;
    position: relative;
}

.battleBtn {
    border: none;
    background-color: #1e1e1e;
    border: 1px solid #e6e6e6;
    padding: 0.3rem;
    width: 10vw;
    color: #e6e6e6;
    font-family: jujutsu;
    font-size: 20px;
}

.card1 {
    width: 12vw;
    height: 30vh;
    background-color: #1e1e1e;
    border: 1px solid #e6e6e6;
    border-radius: 0.3rem;
}

.card2 {
    width: 12vw;
    height: 30vh;
    background-color: #1e1e1e;
    border: 1px solid #e6e6e6;
    border-radius: 0.3rem;
}

.hidden {
    display: none;
    visibility: hidden;
}

.xis{
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 12.7rem;
}
.war{
    height: 2.1rem;
    width: 2.1rem;
    margin: 0.4rem;
    border-radius: 10px;
}
.d{
    display: flex;
}
.all{
    background-color: blue;
}
.butt{
    margin-top: 1rem;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0;
}

@media only screen and (max-device-width: 900px) {
    .blue{
        background-color: rgb(0, 0, 198);
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0.105rem;
        color: white;
        font-family: sans-serif;
    }
    .hidden {
        display: flex;
        flex-direction: column;
        visibility: visible;
        background-color: rgb(206, 206, 206);
        margin-top: 30rem;
        height: 22vh;
        width: 85vw;
        border-radius: 0.1rem;
        border: 0.1rem solid white;
        padding: 0.1rem;
        text-align: center;
        align-items: center;
        -webkit-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.66);
-moz-box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.66);
box-shadow: 1px 1px 3px 2px rgba(0,0,0,0.66);

    }
    .h22 {
        font-size: 0.75rem;
       margin: 1.1rem;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .foot{
        margin-bottom: 0;
    }

    .battlefield,
    .imgBattle,
    .purpleBg,
    .purple,
    .box {
        display: none;
        visibility: hidden;

    }
}