.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: #f4f4f4;
    font-family: jujutsu;
    font-size: 32px;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

.popup {
    background-size: cover;
    font-size: 32px;
    width: 600px; 
    height: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: jujutsu;
    -webkit-box-shadow:0px 0px 60px 19px rgb(0, 0, 0);
    -moz-box-shadow: 0px 0px 60px -19px rgb(0, 0, 0);
    box-shadow: 0px 0px 60px 19px rgb(0, 0, 0);
}

.botao {
    background-color:#ad2621;
    color: #f4f4f4;
    font-family: jujutsu;
    border-radius: 8px;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    margin-top: 120px;
}